<%= form_for [:admin, @article], :html => { :class => "form-horizontal article" } do |f| %>

    <% if @article.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@article.errors.count, "error") %> prohibited this article from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @article.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label t("models.articles.attributes.title"), :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :title, :class => 'form-control' %>
    </div>
    <%= error_span(@article[:title]) %>
  </div>
  
  <div class="control-group">
    <%= f.label t("models.articles.attributes.content"), :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :content, :class => 'form-control' %>
    </div>
    <%= error_span(@article[:content]) %>
  </div>

  <br/>
  <div class="control-group">
    <ul class="nav nav-tabs">
      <li role="presentation" class="active"><a href="#edit" data-toggle="tab"><%= t("models.articles.edit") %></a></li>
      <li role="presentation"><a href="#preview" data-toggle="tab"><%= t("models.articles.preview") %></a></li>
    </ul>
    <div class="tab-content">
      <div class="tab-pane active" id="edit">
        <%= f.text_area :content, :class => 'form-control', :style => 'border-top: none' %>
      </div>
      <div class="tab-pane" id="preview">
        <%= markdown(@article[:content]) %> 
      </div>
    </div>
  </div>

  <br/>
  <%= f.submit nil, :class => 'btn btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
            admin_articles_path, :class => 'btn btn-default' %>

<% end %>
