<%- model_class = Article -%>

<% @articles.each do |article| %>
<h3><%= link_to article.title, admin_article_path(article)%></h3>
<div class="panel panel-default">
  <div class="panel-heading">
    <div class="row">
      <div class="col-sm-10">
        <% article.labels.each do |label| %>
        <span class="label label-primary" style="margin-right: 1rem"><%= label.name %> </span>
        <% end %>
      </div>
      <div class="col-sm-2">
        <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_admin_article_path(article), :class => 'btn btn-default btn-xs' %>
        <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      admin_article_path(article),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
      </div>
    </div> 
  </div>
  
  <div class="panel-body">
    <div class="markdown-body"><%= markdown(article.content) %> </div>
  </div>
</div>
  
<% end %>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_admin_article_path,
            :class => 'btn btn-primary' %>
