<div class="panel panel-default">
  <div class="panel-heading">
  	<div class="side"><%= t("admin.sider.articles") %></div> 
  </div>
  <!-- List group -->
  <ul class="list-group">
	  <li class="list-group-item">
	    <%= link_to t("admin.sider.new_article"), new_admin_article_path %>
	  </li>
	  <li class="list-group-item">
	    <%= link_to t("admin.sider.view_articles"), admin_articles_path %>
	  </li>
	</ul>

	<div class="panel-heading">
		<div class="side"><%= t("models.categories.name") %></div> 
	</div>
  <!-- List group -->
  <ul class="list-group">
  <% @side_categories.each do |category| %>
  	<li class="list-group-item">
	    <span class="badge"><%= category.article_count %></span>
	    <%= link_to category.name, admin_category_path(category) %>
	  </li>
  <% end %>
  </ul>

	<div class="panel-heading">
		<div class="side"><%= t("models.labels.name") %></div> 
	</div>
  <!-- List group -->
  <ul class="list-group">
  <% @side_label.each do |label| %>
  	<li class="list-group-item">
	    <span class="badge"><%= label.article_ids.length %></span>
	    <%= link_to label.name, admin_label_path(label) %>
	  </li>
  <% end %>
  </ul>
</div>