<div class="page-header">
<h1><%= @article.title %></h1>
</div>
<article id="article">
	<div class="time"><%= l(@article.created_at) %></div>
	<h3>
	  <% @article.labels.each do |label| %>
	    <span class="label label-primary" style="margin-right: 1rem"><%= label.name %> </span>
	  <% end %>
	</h3>

	<div class="markdown-body"><%= markdown(@article.content) %> </div>
</article>

<div class="chapter">
	<% if @prev %>
	<div class="prev"><%= link_to("« #{@prev.title}", article_path(@prev) , :class => "chapter") %></div>
	<% end %>
	<% if @next %>
		<div class="next"><%= link_to("#{@next.title} »", article_path(@next) , :class => "chapter") %></div>
	<% end %>
</div>

<%= render "admin/articles/comment" %>


