<div class="page-header">
<h1><%= @article.title %></h1>
</div>
<article id="article">
	<div class="time"><%= l(@article.created_at) %></div>
	<h3>
	  <% @article.labels.each do |label| %>
	    <span class="label label-primary" style="margin-right: 1rem"><%= label.name %> </span>
	  <% end %>
	</h3>

	<div class="markdown-body"><%= markdown(@article.content) %> </div>
</article>

<div class="chapter">
	<% if @prev %>
	<div class="prev"><%= link_to("« #{@prev.title}", article_path(@prev) , :class => "chapter") %></div>
	<% end %>
	<% if @next %>
		<div class="next"><%= link_to("#{@next.title} »", article_path(@next) , :class => "chapter") %></div>
	<% end %>
</div>

<section id="comment">
	<div id="disqus_thread"></div>
	<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = 'chalkblog';
    var disqus_identifier = getUrlParam();
    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
	</script>
	<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
</section>

