<div class="panel panel-default">
  <div class="panel-heading">
  	<div class="side"><%= t("app.sider.articles") %></div> 
  </div>
  <!-- List group -->
  <ul class="list-group">
	  <li class="list-group-item">
	    <%= link_to t("app.sider.recent_articles"), home_index_path %>
	  </li>
	</ul>

	<div class="panel-heading">
		<div class="side"><%= t("app.sider.labels") %></div> 
	</div>
  <!-- List group -->
  <ul class="list-group">
  <% @side_label.each do |label| %>
  	<li class="list-group-item">
	    <span class="badge"><%= label.article_ids.length %></span>
	    <%= link_to label.name, admin_label_path(label) %>
	  </li>
  <% end %>
  </ul>
</div>